<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {if "{layout:title}"}
        {exp:seo_lite default_title="{layout:title}"}
    {if:else}
        {exp:seo_lite entry_id="{layout:entry_id}"}
    {/if}	
    <link rel="icon" href="/favicon.ico">
    <title>{site_name}</title>
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/css/vendor/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

    <div id="mainnavigation"> 
        <nav class="navbar navbar-fixed-top" data-spy="affix" data-offset-top="100">
            <div class="container">
                <div class="row hidden-sm hidden-xs"> 

                    <div class="col-sm-4">
                        <ul class="nav navbar-nav pull-left">
                            <li><a href="#about">About</a></li>
                            <li><a href="#menu">Toastmasters</a></li>
                        </ul>
                    </div>
        
                    <div class="col-sm-4">
                        <a href="/" class="nhs-logo_lg"></a>
                    </div>

                    <div class="col-sm-4">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="#friends">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>

                </div>
            </div>
    
            <div class="container-fluid no-padding">
                <div class="visible-sm visible-xs">
            
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse"> 
                            <span class="sr-only">Toggle navigation</span> 
                            <span class="icon-bar first"></span> 
                            <span class="icon-bar hide-bar"></span> 
                            <span class="icon-bar last"></span>
                        </button>

                        <a class="navbar-brand" href="/" id="hw-logo_sm"></a> 

                    </div>

                    <div class="collapse navbar-collapse" id="navbar_collapse">
                        
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#about">About</a></li>
                            <li><a href="#menu">Toastmasters</a></li>
                            <li><a href="#friends">Blog</a></li>
                            <li><a href="#reservations">Reservations</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>

                    </div>

                </div>
            </div>
            
        </nav>
    </div>

    
    {layout:contents}


    <footer>

        <div class="container"> 
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center wow fadeIn">     
                
                    <h2><span class="head_itals">the</span> Hardwick</h2>
    
                    <div class="mrgn-50-top-btm text-center">
                        <img src="assets/dividers/divider-black.svg" alt="" />
                    </div>

                    <div class="mrgn-30-top-btm">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a> </li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a> </li>
                            <li><a href="#"><i class="fa fa-google"></i></a> </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                        </ul>
                    </div>

                    <p>North Herts Speakers © 20159| All Rights Reserved</p>    
    
                </div>
            </div>    
        </div>

    </footer>
    <div class="hidden">
        <link href="/css/vendor/bella-firenze.css" rel="stylesheet">
        {!-- <link href="/css/nhspeakers.min.css" rel="stylesheet"> --}
        <link href="/css/pretty/nhspeakers.css" rel="stylesheet">
        <link href="/css/vendor/owl.carousel.css" rel="stylesheet">
        <link href="/css/vendor/owl.theme.css" rel="stylesheet">
        <link href="/css/vendor/animate.min.css" rel="stylesheet">
        <link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">        
        <script type="text/javascript">
            (function() {
                var path = '//easy.myfonts.net/v2/js?sid=2408(font-family=ITC+Galliard+Bold)&sid=2411(font-family=ITC+Galliard+Italic)&sid=2412(font-family=ITC+Galliard+Roman)&sid=215763(font-family=ITC+Galliard+Std+Roman)&key=n9WDTw98Bk',
                protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                trial = document.createElement('script');
                trial.type = 'text/javascript';
                trial.async = true;
                trial.src = protocol + path;
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(trial);
            })();
        </script>

        <script src="/js/vendor/jquery.min.js"></script> 
        <script src="/js/vendor/bootstrap.min.js"></script> 
        <script src="/js/vendor/owl.carousel.min.js"></script> 
        <script src="/js/vendor/wow.min.js"></script> 
        <script src="/js/vendor/bella-firenze.js"></script> 
        <script src="/js/vendor/ie10-viewport-bug-workaround.js"></script>
        <link href="https://fonts.googleapis.com/css?family=K2D:400,400i,500,700" rel="stylesheet">
    </div>
</body>
</html>