<section id="locations">
  <div class="container"> 

{exp:channel:entries 
        channel="directions" 
        disable="categories|member_data|pagination"
        dynamic="no"
        limit="1"}  

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center wow fadeInDown">
        <h2><span class="head_itals">the</span>&nbsp;Directions</h2>
        <p class="lead">{tv_address}</p>

        <p class="lead">{dir_intro}</p>
        <p>Email: {encode="{tp_email}?subject=Some%20Subject" title="email us"}</p>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 wow fadeIn">
          <div class="text-center mrgn-30-top">
           <p> {tv_bookings_note}</p>
            {dir_sections}
            {if "{dir_sections:count}" == "1"}
              {dir_sections:body}
            {/if}
            {/dir_sections}
          </div>
        </div>
    </div>

    <div class="mrgn-50-top-btm text-center">
      <img src="/assets/divider.svg" alt="*">
    </div>

    <div class="row text-center"> 

      <div class="col-md-12 wow fadeIn mrgn-40-btm">
{!-- 51.825366,-3.019423 --}

        {exp:gmaps:init 
                lang="en_GB" 
                load_google_maps_js="yes"}

        {exp:gmaps:map 
            center:address="NP7 9AA"
            width="100%"
            fit_map="markers"
            show_marker_cluster="yes"}

          {gmaps:add_marker
                address="NP7 9AA"
                infowindow="This is the Hardwick"}

{!--           {gmaps:add_route
              address:from="SG4 9NJ"
              address:to="NP7 9AA"
              show_details="yes"
              show_details_per_step="yes"
              travel_mode="transit"
              show_transit="yes"
              step_callback="steps"} --}

        {/exp:gmaps:map}

      </div>
    </div>


    <!-- We need https://devot-ee.com/add-ons/gmaps or the like to get directions -->
    <form id="map-search-form" name="map-search-form" action="post" class="form-inline">
      <div class="row text-center">
        <div class="col-md-12 col-md-offset-2">
          <div class="form-group">
            <label for="search-field" class="col-md-12 col-form-label" >Enter Your town or postcode for directions:</label>
          </div> 
          <div class="form-group md-12">
            <input type="text" class="form-control" id="search-field" name="search-field" placeholder="AB1 1BA">
            <input type="submit" value="Get Directions">
          </div>
        </div>
    </form>

    <div>
      <ul id="steps"></ul>

      <script>
      function steps(e){
          $('#steps').prepend('<li>'+e.instructions+'</li>');
      }
      </script>




<script>
$(function(){
    $('#map-search-form').submit(function(){
        //geocode address
        EE_GMAPS.api('geocode', {
            address : $('input[name="search-field"]').val(),
            callback : function(result, type){
              console.log('here is the result \r\n');
                console.log(result);
                // //remove old markers
                // EE_GMAPS.api('removeMarkers', {
                //     mapID : 'ee_gmap_1'
                // });

                //parse result
                result = $.parseJSON(result);

                // Add the route
                 EE_GMAPS.api('addRoute', {
                    mapID : 'ee_gmap_1',
                    origin: result,
                    destination: 'NP7 9AA',
                    travelMode: 'DRIVING',
                    waypoints: ''
                });               

                //Fit the map
                EE_GMAPS.api('fitZoom', {
                    mapID : 'ee_gmap_1',
                    zoomLevel : 11
                });

            }
        });
        return false;
    });
});

</script>      
    </div>

    <div class="row">
      {dir_sections}
      {if "{dir_sections:count}" > "1"}
        <div class="col-md-4 wow fadeIn">
          <div class="text-center mrgn-30-top">
            <h3>{dir_sections:heading}</h3>
            {dir_sections:body}
          </div>
        </div>
      {/if}
      {/dir_sections}
    </div>



{/exp:channel:entries}
  </div>
</section>