<section id="specials" class="no-padding" style="background-image: url(/images/backgrounds/book.jpg)">

  <div class="container-fluid"> 

    <div class="row">

      <div class="col-lg-6 no-padding text-center">

        <div class="bg-darkblue pddn-100-top-btm wow fadeInLeft">

          <h2><span class="head_itals">the</span>&nbsp;BOOK</h2>

          <div class="mrgn-50-top-btm text-center">
            <img src="/assets/divider.svg" alt="*">
          </div>

          <div class="mrgn-30-top-btm lead-paragraph">
    {exp:channel:entries 
          channel="book" 
          disable="member_data|pagination|categories"
          dynamic="no"
          limit="1"} 

          {sec_intro_block}
            {sec_intro_block:intro}   
          {/sec_intro_block}

{!--             {sec_block}
            <div class="mrgn-30-top-btm">
              <p><span class="label label-dishitem text-uppercase">{sec_block:heading}</span></p>
              <h3>{sec_block:sub_heading} - &pound;{sec_block:price}</h3>
              <p><em>{sec_block:summary}</em></p>
            </div>
          {/sec_block} --}
    {/exp:channel:entries}

          </div>

        </div>
      </div>
    </div>
  </div>
</section>