{!-- {exp:channel:entries
  channel="quotes" 
  disable="categories|member_data|pagination"
  dynamic="no" }  --}

  <header id="fullwidth" class="hw-header" style="background-image:url(/resources/images/backgrounds/Lamp_wider2.jpg);">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="header-text text-center"> 
            <p class="wow fadeInDown">
              <h1>Next Meetings</h1>
              <img src="{home_strapline}" width="300" height="268" class="img-responsive center-block" alt="">
            </p>
            <p class="lead">Every 1st and 3rd Wednesday of the month</p>
            <p class="lead">Jan 31st (extra meeting), February 2nd</p>
            <p class="lead">19:30 for 19:45 start</p>
            <p class="details text-uppercase text-bold mrgn-30-top wow fadeIn">
              {tv_address}
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </header>
  {!-- {/exp:channel:entries} --}