<section id="rooms">
  <div class="container"> 

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center wow fadeInDown">
        <h2><span class="head_itals">the</span>&nbsp;Rooms</h2>
        {tpi_rooms}
      </div>
    </div>

    <div class="mrgn-50-top-btm text-center">
      <img src="/assets/divider.svg" alt="*">
    </div>

    <div class="row text-center"> 
      <div class="col-md-12 text-center">

{exp:channel:entries
            channel="rooms" 
            disable="categories|member_data|pagination"
            dynamic="no" 
            order_by="title"
            sort="asc"}
        
      <div class="col-md-4 wow fadeIn mrgn-40-btm">
        {rm_images}
          {if rm_images:count == "1"}
            {exp:ce_img:pair src="{rm_images:source}" width="250"}
              <img src="{made}" alt="{rm_images:alt_text}" width="100%" class="img-responsive location">
            {/exp:ce_img:pair }
          {/if}
        {/rm_images}
        <h3>{title}</h3>
        <p class="lead-sm mrgn-30-top">{rm_description}</p>
        <p class="mrgn-20-top"><a href="/rooms/{url_title}" class="btn btn-sm btn-main">Room details</a></p>
      </div>
{/exp:channel:entries}


      <div class="col-md-4 wow fadeIn mrgn-40-btm">
        <img src="/images/locations/location02.jpg" class="img-responsive location" alt="">
        <h3>The Hardwick - Bar area</h3>
        <p class="lead-sm mrgn-30-top">Local Real Ales and much much more </p>
        <p class="mrgn-20-top"><a href="/bar" class="btn btn-sm btn-main">Bar details</a></p>
      </div>



    </div>

{!--     <div class="row text-center"> 
      <div class="col-md-12 wow fadeIn mrgn-40-btm">
        <img src="/images/locations/map.jpg" class="img-responsive location" alt="hardwick googlemap">
      </div>
    </div> --}

  </div>

</section>