<section id="whyjoin">
  <div class="container"> 
    <!-- Title & Divider -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center wow fadeInDown">
        <h2><span class="head_itals">Why</span>&nbsp;Join?</h2>
        <p class="lead">{tpi_restaurant_para1}</p>
      </div>
    </div>
    <div class="mrgn-50-top-btm text-center">
      <img src="/resources/images/dividers/divider.svg" alt="*">
    </div>
    <!-- /.Title & Diver --> 
    <div class="col-md-8 col-md-offset-2 text-center wow fadeInDown">
          <h2><span class="head_itals">the</span>&nbsp;whyjoins</h2>
      <p class="lead">{tpi_restaurant_para2}</p>
    </div>

    {!-- whyjoin Lists  --}
    <div class="row"> 
  
{exp:channel:entries
            channel="food" 
            disable="categories|member_data|pagination"
            dynamic="no" }

      <div class="col-md-4 wow fadeIn">

        <div class="text-center mrgn-30-top">
          <a href="/whyjoin/{url_title}" class="btn btn-lg btn-main">
            {title}</a>
        </div>
      
      </div>
    
{/exp:channel:entries}

    </div>
     {!-- /.whyjoin Lists  --}
    
    <!-- whyjoin Button -->
   {!--  <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center mrgn-50-top"> <a href="whyjoin.html" class="btn btn-lg btn-main">See Our Full menu(?)</a> </div>
    </div> --}
    <!-- /.Menu Button --> 

    
</div>
</section>